* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

/* Nav-Bar Story */

.nav-bar {
    position: absolute;
    width: 1728px;
    height: 111px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-flow: row wrap;

    background: #000000;
}

.logo {
    position: absolute;
    width: 333px;
    height: 51px;
    left: 20px;
    top: 30px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    border: 1px solid #000000;
}

.link1 {

    position: absolute;
    width: 159px;
    height: 28px;
    left: 452px;
    top: 41px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.link2 {
    position: absolute;
    width: 159px;
    height: 28px;
    left: 587px;
    top: 41px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.link3 {

    position: absolute;
    width: 159px;
    height: 27px;
    left: 701px;
    top: 43px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.link4 {
    position: absolute;
    width: 159px;
    height: 28px;
    left: 831px;
    top: 41px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.link5 {
    position: absolute;
    width: 159px;
    height: 28px;
    left: 975px;
    top: 41px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.link6 {

    position: absolute;
    width: 159px;
    height: 28px;
    left: 1116px;
    top: 41px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;


}

/* .social-m1 {
    box-sizing: border-box;

    position: absolute;
    width: 62.33px;
    height: 43.12px;
    left: 1526.44px;
    top: 80.1px;
    background-image: url("instagram.png");
    
    /* background: url("instagram.png"); */
/* filter: drop-shadow(3px 6px 18px rgba(0, 0, 0, 0.25)); */
/* transform: matrix(-1, 0, 0, -1, 0, 0);  */
/* }  */
*/
/* .social-m2 {
    position: absolute;
    width: 47px;
    height: 51px;
    left: 1625.02px;
    top: 33px;
    background-image: url("fb.png");

    /* background: url(fb.png); */
}

*/
/* .social-m3 {
    position: absolute;
    width: 52px;
    height: 44px;
    left: 1547.02px;
    top: 37px;
    background-image:url("whatsapp.png");

    /* background: url(); */

/* }  */
*/
/* Home Section */

 section {
     background-image: url("images\pizza1 1.png"); 
 /* background-color: #000000;  */
 position: absolute;
    width: 1728px;
    height: 1030px;
    left: 0px;
    top: 87px;

    /* background: #000000; */

} 


.heading {
    position: absolute;
    width: 902px;
    height: 215px;
    left: 17px;
    top: 240px;
    /* background-color: #000000; */
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    font-size: 101px;
    line-height: 108px;
    /* or 107% */

    text-align: center;
    letter-spacing: 0.09em;

    color: #FFFFFF;

}

.underline {
    box-sizing: border-box;

    position: absolute;
    width: 586px;
    height: 13px;
    left: 116px;
    top: 533px;

    background: #F24C4C;
    box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}

.underline3 {
    box-sizing: border-box;

    position: absolute;
    width: 535px;
    height: 4px;
    left: 193px;
    top: 1404px;

    background: #F24C4C;
    box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}

.para {

    position: absolute;
    width: 599px;
    height: 325px;
    left: 116px;
    top: 613px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    /* or 160% */

    letter-spacing: 0.09em;

    color: #FFFFFF;

}

/* About Story */
h1 {
    position: absolute;
    width: 526px;
    height: 58px;
    left: 599px;
    top: 1216px;

    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.underline2 {
    position: absolute;
    width: 526px;
    height: 10px;
    left: 599px;
    top: 1289px;

    background: #B62828;
}

.para1 {
    position: absolute;
    width: 677px;
    height: 420px;
    left: 193px;
    top: 1421px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    /* or 160% */

    letter-spacing: 0.09em;

    color: #FFFFFF;

}

.dough {
    position: absolute;
    width: 631px;
    height: 506px;
    left: 949px;
    top: 1368px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.48%, rgba(0, 0, 0, 0.8) 100%), url(.jpg);
    border-radius: 10px;
}

/* Menu Section */
h2{
    position: absolute;
    width: 474px;
    height: 52px;
    left: 609px;
    top: 2021px;
    
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
}

.underline4{

    position: absolute;
    width: 474px;
    height: 9px;
    left: 609px;
    top: 2087px;
    
    background: #B62828;
}

.para4{

    position: absolute;
    width: 1315px;
    height: 378px;
    left: 212px;
    top: 2153px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    /* or 160% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
}

.menu img{
    position: absolute;
    width: 273.08px;
    height: 200px;
    left: 193px;
    top: 2389px;
    
    background: url("images\pizza2.png");
    border-radius: 10px;
}

.h1{
    position: absolute;
    width: 348px;
    height: 51px;
    left: 486px;
    top: 2389px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    
    color: #F2C94C;
    
}

.p1{

    position: absolute;
    width: 346px;
    height: 120px;
    left: 485px;
    top: 2440px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
    
}
.home img img{

    position: absolute;
    width: 274px;
    height: 183.67px;
    left: 193px;
    top: 2650px;
    
    background: url(.jpg);
    border-radius: 10px;
}

.h2{

    position: absolute;
    width: 348px;
    height: 51px;
    left: 484px;
    top: 2643px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    
    color: #F2C94C;
}

.p2{
  
position: absolute;
width: 346px;
height: 120px;
left: 483px;
top: 2694px;

font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
/* or 200% */

letter-spacing: 0.09em;

color: #FFFFFF;
  
}

.3{

    position: absolute;
    width: 274px;
    height: 200px;
    left: 198px;
    top: 2898px;
    
    background: url(.jpg);
    border-radius: 10px;
}

.h3{

}

.p3{
    position: absolute;
    width: 346px;
    height: 120px;
    left: 488px;
    top: 2949px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
    
}

.4{
    position: absolute;
    width: 274px;
    height: 200px;
    left: 883px;
    top: 2389px;
    
    background: url(.jpg);
    border-radius: 10px;
    
}

.h4{
    position: absolute;
    width: 348px;
    height: 51px;
    left: 1196px;
    top: 2389px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    
    color: #F2C94C;
    
}

.p4{
    position: absolute;
    width: 346px;
    height: 120px;
    left: 1195px;
    top: 2440px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
      
}

.5{

    position: absolute;
    width: 274px;
    height: 200px;
    left: 883px;
    top: 2650px;
    
    background: url(.jpg);
    border-radius: 10px;
}

.h5{
    position: absolute;
    width: 348px;
    height: 51px;
    left: 1194px;
    top: 2643px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    
    color: #F2C94C;
    
}

.p5{
  
position: absolute;
width: 346px;
height: 120px;
left: 1193px;
top: 2694px;

font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
/* or 200% */

letter-spacing: 0.09em;

color: #FFFFFF;
  
}

.6{
    position: absolute;
    width: 274px;
    height: 200px;
    left: 887px;
    top: 2898px;
    
    background: url(.jpg);
    border-radius: 10px;
}

.h6{
    position: absolute;
    width: 348px;
    height: 51px;
    left: 1199px;
    top: 2898px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    
    color: #F2C94C;
}

.p6{
  
position: absolute;
width: 346px;
height: 120px;
left: 1198px;
top: 2949px;

font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
/* or 200% */

letter-spacing: 0.09em;

color: #FFFFFF;
  
}

h6{

    position: absolute;
    width: 474px;
    height: 52px;
    left: 609px;
    top: 3201px;
    
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;

}

.underline10{
    position: absolute;
    width: 474px;
    height: 9px;
    left: 609px;
    top: 3287px;
    
    background: #B62828;
}

.find-us img{
    height: 438px;
width: 685px;
left:900px;
top: 3529px;
border-radius: 0px;
box-sizing: border-box;

position: absolute;
/* width: 685px; */
/* height: 438px; */

background: url("images\image 4.png");


}
